<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring2023 DDE</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="/js/index.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Програма обліку НТУ "ХПІ"-2023</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

    <label for="kafedra_select"> </label>
    <select name="kafedra_select" id="kafedra_select">
        <option th:each="kafedra : ${kafedra_list}"
                th:value="${kafedra}" th:text="${kafedra}">
        </option>
    </select>
    <br>
    <label for="fakultet_select"> </label>
    <select name="fakultet_select" id="fakultet_select">
        <option th:each="fakultet : ${fakultet_list}"
                th:value="${fakultet}" th:text="${fakultet}">
        </option>
    </select>
    <br>
    <label for="voenkomat_select"> </label>
    <select name="voenkomat_select" id="voenkomat_select">
        <option th:each="voenkomat : ${voenkomat_list}"
                th:value="${voenkomat}" th:text="${voenkomat}">
        </option>
    </select>
    <br>
    <label for="category_select"> </label>
    <select name="category_select" id="category_select">
        <option value="-Оберіть категорію звань">-Оберіть категорію звань</option>
        <option value="Офіцерський склад">Офіцерський склад</option>
        <option value="Рядовий та сержантський склад">Рядовий та сержантський склад</option>
    </select>
    <br>
<div class="container">
    <div class="row">
        <h1> Перелік військовозобов'язаних НТУ "ХПІ" </h1>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <a th:href="@{/reservists/download}" class="btn btn-primary btn-sm mb-3"> Зберігти на свій ПК</a>
        </div>
        <div class="col-lg-6">
            <form method="POST" enctype="multipart/form-data" action="/reservists/upload">
                <table>
                    <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                    <tr><td></td><td><input type="submit" value="Завантажити в БД" class="btn btn-primary btn-sm mb-3"/></td></tr>
                </table>
            </form>
        </div>
        <div class="col-lg-6">
            <form method="POST" th:action="@{/reservists/send_email}">
                Send email to: <input type="email" name="email" id="email" th:value="${email != null ? email : ''}">
                <button type="submit" class="btn btn-primary btn-sm mb-3">
                    Надіслати перелік поштою
                </button>
            </form>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> ПІПб співробітника </th>
            <th> ДР </th>
            <th> Стать </th>
            <th> Військове звання </th>
            <th> ВОС </th>
            <th> ТЦК обліку </th>
            <th> Придатність </th>
            <th> Доп.інфо </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="reservist : ${reservists_list}">
            <td th:text="${reservist.pib}"></td>
            <td th:text="${reservist.dr}"></td>
            <td th:text="${reservist.gender}"></td>
            <td th:text="${reservist.rank}"></td>
            <td th:text="${reservist.vos}"></td>
            <td th:text="${reservist.tck}"></td>
            <td th:text="${reservist.VPrydatnist}"></td>

            <td>
                <a th:href="@{/reservist/contacts/{id}(id=${reservist.getMilitaryPersonId()})}" class="btn btn-danger" >Контакти</a>
                <a th:href="@{/reservist/military-registration/{id}(id=${reservist.getMilitaryPersonId()})}" class="btn btn-primary">Військ.облік</a>
                <a th:href="@{/reservist/education/{id}(id=${reservist.getMilitaryPersonId()})}" class="btn btn-success">Освіта</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>